body {
    padding: 0;
    margin: 0;
    background-color: #060C1A;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 14px;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
}
.top {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-self: center;
}
.bottom {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-self: center;
}