.marketable-area {
    background: #999999;
    /* width: 120px; */
    min-width: 280px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.marketable-area h1 {
    color: #222;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 2px;
}